<html>
    <head>
        <title>Pinkey0630 blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Pinkey0630 Blog</a></h1>
        </div>

        <div>
            <p>published: 23.10.2017, 12:37</p>
            <h2><a href="">My first post</a></h2>
            <p>Hello everyone. Welcome to my new blog. I will update it I have something interesting in my life. I would like to share it with everyone who visits my blog in the future. Hope you all the best!</p>
        </div>

        <div>
            <p>published: 23.10.2017, 22:40</p>
            <h2><a href="">My second post</a></h2>
            <p>Today is a good day. The weather is warm and sunny. It is really a good day to go out with friends. What are your favorite things when going out ? My favorite is to have a picnic all day in the park, reading a book or just taking a nap and doing nothing at all.</p>
        </div>
    </body>
</html>